.indicator {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.indicator .new,
.indicator .seen,
.indicator .delivered {
  height: 100%;
}
.indicator .new {
  background-color: var(--color-accent);
}
.indicator .seen,
.indicator .delivered {
  background-repeat: no-repeat;
  background-position: center;
}
.indicator .delivered {
  background-color: rgba(96, 103, 112, 0.3);
  background-image: url("delivered.svg");
}
.indicator .seen {
  background-size: cover;
}
