.indicator-wrapper {
  width: 55px;

  .indicator {
    border-radius: 50%;
    width: 14px;
    height: 14px;
    overflow: hidden;
    margin: 0 auto;

    .new, .avatar, .delivered {
      height: 100%;
    }

    .new {
      background-color: var(--color-accent);
    }

    .avatar, .delivered {
      background-repeat: no-repeat;
      background-position: center;
    }

    .delivered {
      background-color: rgba(96, 103, 112, 0.3);
      background-image: url("delivered.svg");

    }

    .avatar {
      background-size: cover;
    }
  }
}
